[color]
    diff        = auto
    status      = auto
    branch      = auto
    interactive = auto
    ui          = true
[user]
    name        = Andrii Vasyliev
    email       = sol@hiqdev.com
[alias]
    branch-name = "!git rev-parse --abbrev-ref HEAD"
    a           = add
    ci          = commit
    cm          = commit -am minor
    cv          = commit -av
    co          = checkout
    st          = status
    pb          = pull --rebase
    ph          = push
    d           = diff
    di          = diff
    dif         = diff
    df          = diff -U0
    vimdiff     = difftool
    br          = branch
    ib          = init --bare --shared=group
    gl          = log --graph --format=format:'%C(yellow)%h%C(reset) %C(bold green)(%ad)%C(reset) %C(red)%aN%C(reset) %s %C(bold yellow)%d%C(reset)' --abbrev-commit --date=relative -n 30
    glf         = log --graph --format=format:'%C(yellow)%h%C(reset) %C(bold green)(%ad)%C(reset) %C(red)%aN%C(reset) %s %C(bold yellow)%d%C(reset)' --abbrev-commit --date=relative
    ls          = "!git ls-tree -r --name-only $(git branch-name)"
    ls-all      = "!git log --pretty=format: --name-status | cut -f2- | sort -u"
    publish     = "!git push -u origin $(git branch-name)"
    filter-out  = "!f() { git filter-branch --force --index-filter \
                    'git rm -r --cached --ignore-unmatch '$1 \
                    --prune-empty --tag-name-filter cat -- --all; }; f"
    test        = "!f() { sh -c 'ls -la '$1; }; f"
[diff]
    tool        = vimdiff
[merge]
    tool        = vimdiff2
[difftool]
    prompt      = false
[push]
    default     = simple
[core]
    autocrlf    = false
