[color]
    diff        = auto
    status      = auto
    branch      = auto
    interactive = auto
    ui          = true
[user]
    name  = Andrii Vasyliev
    email = sol@hiqdev.com
[alias]
    a   = add
    ci  = commit
    cv  = commit -av
    co  = checkout
    st  = status
    pu  = pull
    d   = diff
    di  = diff
    dif = diff
    df  = diff -U0
    br  = branch
    gl  = log --graph --format=format:'%C(yellow)%h%C(reset) %C(bold green)(%ad)%C(reset) %C(red)%aN%C(reset) %s %C(bold yellow)%d%C(reset)' --abbrev-commit --date=relative -n 30
    glf = log --graph --format=format:'%C(yellow)%h%C(reset) %C(bold green)(%ad)%C(reset) %C(red)%aN%C(reset) %s %C(bold yellow)%d%C(reset)' --abbrev-commit --date=relative
    ls  = ls-tree -r --name-only master
[diff]
    tool    = vimdiff
[merge]
    tool    = vimdiff
[difftool]
    prompt  = false
[push]
    default = simple
[core]
    autocrlf = false
