snippet rep "Repositories"
"repositories": [
	{
		"type": "composer",
		"url": "https://asset-packagist.org"
	}
]
endsnippet

snippet exc "Extra config-plugin"
"extra": {
	"config-plugin": {
		"params": "src/config/params.php",
		"common": "src/config/common.php",
		"web": "src/config/web.php"
	}
},
endsnippet
