snippet sel "SELECT"
SELECT		${3:*}
FROM		${1:table}
WHERE		${2:obj_id=1}
;
endsnippet

snippet gr "SELECT count(*)"
SELECT		${2:field}, ${4:count(*)}
FROM		${1:table}
WHERE		${3:TRUE}
GROUP BY	$2
ORDER BY	count DESC
;
endsnippet

snippet ins "INSERT"
INSERT INTO ${1:table} (${2:fields})
VALUES		(${3:values});
endsnippet

snippet IS "IS DISTINCT FROM"
IS DISTINCT FROM 
endsnippet

snippet CALLED "CALLED ON NULL INPUT"
CALLED ON NULL INPUT
endsnippet
